body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-and-our-team-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
