:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-container-background-color: #c4c4c4;
  --hero-title-color: #ffffff;
  --footer-background-color: #2f303a;
  --body-and-our-team-background-color: #ffffff;
  --footer-logo-collor: #ffffff;
  --button-primary-color: #ffffff;
  --background-our-team-color: #f5f4fa;
  --logo-studio-in-header-collor: #000000;
  --mail-and-tell-collor: rgba(255, 255, 255, 0.6);
  --address-collor: #ffffff;
  --border-header-collor: #ececec;
  --border-portfolio-color: #eeeeee;
  --hover-focus-button-secondary-collor: #188ce8;
  --shadow-footer-logo-collor: (0px 4px 4px rgba(0, 0, 0, 0.25));
  --icon-soc-logo-company-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-container-background-color: #c4c4c4;
$hero-title-color: #ffffff;
$footer-background-color: #2f303a;
$body-and-our-team-background-color: #ffffff;
$footer-logo-collor: #ffffff;
$button-primary-color: #ffffff;
$background-our-team-color: #f5f4fa;
$logo-studio-in-header-collor: #000000;
$mail-and-tell-collor: rgba(255, 255, 255, 0.6);
$address-collor: #ffffff;
$border-header-collor: #ececec;
$border-portfolio-color: #eeeeee;
$hover-focus-button-secondary-collor: #188ce8;
$shadow-footer-logo-collor: (0px 4px 4px rgba(0, 0, 0, 0.25));
$icon-soc-logo-company-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
