.footer {
  background: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  & .footer-logo.link {
    display: block;
    color: var(--footer-logo-collor);
    transform: scale(1);

    @include transition((color, transform), 250ms, var(--timing-function));

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 60px;
    width: 100%;
    @include tablet {
      justify-content: space-between;
      align-items: baseline;
    }
    @include desktop {
      flex-wrap: nowrap;
      text-align: left;
      gap: 0px;
    }
  }
  & .link {
    @include transition(color, 250ms, var(--timing-function));

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.address {
  margin-top: 20px;
  line-height: 1.71;
  & .address-text {
    color: var(--address-collor);
  }
}

.footer-contact {
  color: var(--mail-and-tell-collor);
}

.footer-address li:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}

.footer-box-one {
  @include tablet {
    margin-left: 51px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}

.footer-box-two {
  // margin-left: 95px; - 1200px
  @media screen and (min-width: 768px) {
    margin-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 95px;
    margin-right: 0px;
  }

  & .social {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  & .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    @include transition(background-color, 250ms, var(--timing-function));

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  & .social-icon {
    fill: var(--address-collor);

    @include transition(fill, 250ms, var(--timing-function));
  }
}

.foot-title {
  color: var(--hero-title-color);
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
}

.footer-box-three {
  width: 100%;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: auto;
  }
}

.form-flex {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.foot-email {
  @include font(400, 16px, 1.25, 0.03em);
  color: var(--address-collor);
  min-width: 100%;
  padding-left: 0px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  @media screen and (min-width: 768px) {
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0px;
    min-width: 358px;
  }

  line-height: 1.25;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;

  @include transition(border-color, 250ms, var(--timing-function));

  &:focus,
  &:hover {
    cursor: pointer;
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    @include font(400, 16px, 1.25, 0.03em);
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-flex .button.secondary {
  @extend %flex-center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  &::after {
    content: "";
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
  }
}
