.hero {
  background-color: var(--hero-container-background-color);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/teamwork.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  &__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: $hero-title-color;
    @include font(900, 44px, 1.36, 0.06em);
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }
}
