.peculiarities {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 100%;
    text-align: left;
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
  &__title {
    color: var(--title-text-color);
    @include font(700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      text-align: left;
    }
  }
  &__paragraph {
    @include font(400, 14px, 1.71, 0.03em);
    margin-top: 10px;
  }
}

.peculiarities__box {
  background-color: var(--background-our-team-color);
  height: 120px;
  @extend %flex-center;
  margin-bottom: 30px;
  border-radius: 4px;

  justify-content: center;
}
