.portfolio {
  &-title {
    color: var(--title-text-color);
    @include font(700, 18px, 2, 0.06em);
    margin-bottom: 4px;
  }
  &-paragraph {
    @include font(null, 16px, 1.88, null);
    color: var(--primary-text-color);
  }
  &-description {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    text-align: left;
  }
  &__filter {
    margin-bottom: 50px;

    @extend %flex-center;
    justify-content: center;
    & .item + .item {
      margin-left: 8px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    & .item {
      width: calc((100% - 2 * 30px) / 3);
      margin-right: 30px;
      margin-bottom: 30px;
    }
    & .item:nth-child(3n) {
      margin-right: 0px;
    }
    & .item:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  &-link {
    display: block;
    @include transition(box-shadow, 250ms, var(--timing-function));
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.text-hover {
  position: relative;
  overflow: hidden;
}

.position-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 0px 24px;
  top: 0;
  left: 0;
  @include font(400, 18px, 1.55, 0.03em);
  color: var(--address-collor);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;

  transform: translateY(100%);
  @include transition(transform, 250ms, var(--timing-function));
  overflow: auto;
  .portfolio-link:focus & {
    transform: translateY(0%);
  }
  .portfolio-link:hover & {
    transform: translateY(0%);
  }
}
